<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>じゃんけんゲーム</title>
</head>

<body>
  <div><a href="/logout">ログアウト</a></div>
  <h3>Hi <span sec:authentication="name">!</span>
  </h3>
  <a href="/lec02/result/gu">グー</a>
  <a href="/lec02/result/choki">チョキ</a>
  <a href="/lec02/result/pa">パー</a>
  <div th:if="${result}">
    <p>ユーザの手：[[${userHand}]]</p>
    <p>CPUの手：[[${CPUHand}]]</p>
    <p>結果：[[${result}]]</p>
  </div>
  <br>
  <div th:if="${room}">
    <p>ログイン中のユーザ</p>
    <ul>
      <li th:each="user : ${room.users}">[[${user}]]</li>
    </ul>
  </div>
</body>

</html>
