<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>じゃんけんゲーム</title>
</head>

<body>
  <div><a href="/logout">ログアウト</a></div>
  <h3><span sec:authentication="name"></span>でログイン中
  </h3>
  <a href="/lec02/result/gu">グー</a>
  <a href="/lec02/result/choki">チョキ</a>
  <a href="/lec02/result/pa">パー</a>
  <div th:if="${result}">
    <p>ユーザの手：[[${userHand}]]</p>
    <p>CPUの手：[[${CPUHand}]]</p>
    <p>結果：[[${result}]]</p>
  </div>
  <br>
  <div th:if="${room}">
    <p>ログイン中のユーザ</p>
    <ul>
      <li th:each="user : ${room.users}">[[${user}]]</li>
    </ul>
    <p>現在 [[${num}]] 人がログイン中です</p>
  </div>
  <div th:if="${users}">
    <table border="1">
      <thead>
        <tr>
          <th>ID</th>
          <th>NAME</th>
        </tr>
      </thead>
      <div th:each="user,stat:${users}">
        <tbody>
          <tr>
            <td>[[${user.id}]]</td>
            <td>[[${user.name}]]</td>
          </tr>
        </tbody>
      </div>
    </table>
  </div>
</body>

</html>
