<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>じゃんけんゲーム</title>
</head>

<body>
  <div><a href="/logout">ログアウト</a></div>
  <h3><span sec:authentication="name"></span>でログイン中</h3>
  <div th:if="${name}">
    <span sec:authentication="name"></span> VS [[${name}]] (CPU)
  </div>
  <a th:href="@{/lec02/waiting?userHand=Gu(user2Name=${name})}">グー</a>
  <a th:href="@{/lec02/waiting?userHand=Choki(user2Name=${name})}">チョキ</a>
  <a th:href="@{/lec02/waiting?userHand=Pa(user2Name=${name})}">パー</a>
  <div th:if="${result}">
    <p>ユーザの手：[[${userHand}]]</p>
    <p>CPUの手：[[${CPUHand}]]</p>
    <p>結果：[[${result}]]</p>
  </div>
  <br>
  <a href="/lec02">もどる</a>
</body>

</html>
